*{
    margin: 0px;
    padding: 0px;
}



.whole-thing{
    display: flex;
}

.sideBar{
    flex: 1;
    background-color: #1992d4;
    color:aliceblue;
    height: auto;
}

.content{
    flex: 4;
    display: flex;
    flex-direction: column;
}

.sideBarLargeText{
    display: flex;
    text-align: center;
    height: fit-content;
    font-size: 40px;
    padding-left: 10%;
    padding-top: 5%;
}

.sideBarOptionContainer svg, .sideBar svg{
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    fill: aliceblue;
}

.sideBarLargeText p{
    margin-top: 0.5%;
}

.sideBarOptionContainer{
    margin-top: 15%;
    display: grid;
    grid-template-columns: 290px /*281px*/;
    grid-auto-rows: 90px;
}

.sideBarOptions{
    padding-left: 11%;
    font-size: 25px;
}

.sideBarOptions svg{
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
    fill: rgb(229, 229, 229);
}


.sideBarOptions:hover, .sideBarOptions svg:hover{
    cursor: pointer;
}

.topmenu{
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: white;

}

.blueButtons{
    margin-top: 3%;
    text-align: right;
    justify-content: space-around;
    margin-bottom: 10%;
}

.blueButtons button{
    border-radius: 30px;
    border: none;
    background-color: #1992d4;
    width: 15%;
    height: 50px;
    color: white;
    font-size: 20px;
    margin-left: 3%;
    box-shadow: 2px 2px 2px 2px #1992d4;
    
}

.blueButtons button:hover{
    background-color: #56afdf;
    cursor: pointer;
}


.topmenu svg{
    position: relative;
    top: 17px;
    fill: rgb(65, 65, 65);
    height: 50px;
    width: 50px;
    margin-left: 5%;
    margin-top: 1%;
}

.search input{
    height: 55%;
    width: 50%;
    border-radius: 30px;
    background-color: #efeff0;
    border: none;
    font-size:23px;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 3%;
    
}

.topmenu input:focus{
    background-color: #dbdce1;
    outline: none;
    padding-left: 1%;
    padding-right: 1%;
    color: rgb(65, 65, 65);
}

.gridArea{
    flex: 9;
    background-color: #e5e7eb;
    outline:none;
    display: grid;
    grid-template-columns: 570px 570px 570px;
    grid-auto-rows: 500px;
}

.search>svg:hover{
    cursor: pointer;
    fill: rgb(108, 107, 107);
}

.sideBarOptions:hover svg{fill: rgb(255, 255, 255)}

.sideBarOptions:hover{
    font-size: 27px;
}

.welcomeMsg{
    position: relative;
    top: 20%;
    left: 20%;
    font-size: 30px;
    width: fit-content;
}

.cards{
    display: flex;
    flex-direction: column;
    border-left: 20px solid rgb(255, 194, 25);
    margin-left: 15%;
    margin-top: 15%;
    height: 300px;
    width: 450px;
    background-color: white;
    border-radius: 20px;
}

.cardOptions{
    text-align: right;
    width: 400px;
    height: 50px;
}

.cardOptions svg{
    height: 30px;
    width: 30px;
}

.delete:hover{
    fill: red;
    cursor: pointer;
}

.star:hover{
    fill: rgb(255, 200, 17);
}

.heading input{
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    width: 95%;
    font-size: 30px;
    margin-top: 5%;
    margin-left: 2%;
    font-weight: bold;
}

.heading input:focus{
    outline: none;
    border: 1px solid #c3c4c4;
}


.bodyOfCard{
    flex: 1;
}

.bodyOfCard textarea{
    resize: none;
    border: none;
    border-radius: 5px;
    width: 95%;
    height: 90%;
    font-size: 20px;
    margin-top: 2%;
    margin-left: 2%;
}

.bodyOfCard textarea{
    outline: none;
    border: 1px solid #c3c4c4;
}