.dialogueBox{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 10%;
    font-size: 40px;
}


.dialogue{
    margin-top: 3%;
    padding: 2%;
    background-color: #1992d4;
    width: max-content;
    border-radius: 10px;
    color: aliceblue;
}

input{
    display: inline-block;
    margin: 4%;
    font-size: 40px;
}

#submit{
    background-color: #facc15;
    border-radius: 5px;
    border: none;
}

#submit:hover{
    background-color: #d6ae0f;
}

#features{
    padding: 1%;
    margin-top: 3%;
    background-color:#1992d4;
    color: white;
}

#features:hover{
    cursor: pointer;
}